/* -------------------- *\
	Reset
\* -------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* -------------------- *\
	Global Vars
\* -------------------- */
/* -------------------- *\
	Global Mixins
\* -------------------- */
/* -------------------- *\
	Base Styles
\* -------------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  background-color: #f6f6f6;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  color: #428BCA;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s; }
  a:hover {
    color: #2A6496;
    text-decoration: underline; }

header,
section,
footer {
  padding: 20px; }

header h1 {
  font-weight: bold;
  margin-bottom: 5px; }
header h2 {
  font-size: 12px; }

footer {
  border-top: 1px solid #ccc;
  font-size: 12px; }
  footer p {
    margin-bottom: 10px; }

/* -------------------- *\
	Modules
\* -------------------- */
.nav {
  outline: 1px solid #ccc;
  background-color: #eee; }
  .nav p {
    margin-bottom: 20px; }
  .nav label {
    display: block;
    margin-bottom: 5px; }
  .nav select {
    margin: 0; }
  .nav .btn-submit {
    border: 1px solid #2267a2;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #84afd4;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    background-color: #428bca;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #428bca), color-stop(100%, #256faf));
    background-image: -webkit-linear-gradient(#428bca, #256faf);
    background-image: linear-gradient(#428bca, #256faf);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #195d97;
    background-clip: padding-box;
    font-size: 16px;
    font-weight: normal; }
    .nav .btn-submit:hover:not(:disabled) {
      box-shadow: inset 0 1px 0 0 #5d97c8;
      cursor: pointer;
      background-color: #3a7eb9;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a7eb9), color-stop(100%, #2367a1));
      background-image: -webkit-linear-gradient(#3a7eb9, #2367a1);
      background-image: linear-gradient(#3a7eb9, #2367a1); }
    .nav .btn-submit:active:not(:disabled) {
      border: 1px solid #2267a2;
      box-shadow: inset 0 0 8px 4px #215f94, inset 0 0 8px 4px #215f94, 0 1px 1px 0 #eeeeee; }
    .nav .btn-submit:disabled {
      opacity: 0.5;
      cursor: not-allowed; }

.schedule h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center; }
.schedule .src-link {
  text-align: center; }

.calendar {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%; }
  .calendar th,
  .calendar td {
    padding: 10px;
    min-width: 100px; }
  .calendar td {
    height: 100px;
    border: 1px solid #ccc;
    background-color: #fcfcfc; }
    .calendar td.today {
      background-color: #f9fcb4; }
    .calendar td.past {
      background-color: #eee; }
    .calendar td.empty {
      background-color: #dcdcdc; }
    .calendar td.race {
      background-color: #93dc99; }
  .calendar .date {
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    color: #666; }
  .calendar .plan {
    display: block; }

.disclaimer {
  font-family: serif;
  font-style: italic;
  color: #888;
  margin-bottom: 30px; }
